body {
    background-color: #E0E4CC;
    width: 60em;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "header   header" "sidebar  content" "footer   footer";
}


/*                  HEADER                  */

body>header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "name   name" "slogan login";
    margin-bottom: 1em;
}

body>header>h1 {
    grid-area: name;
    margin: 1rem auto 0 2rem;
}

body>header>h2 {
    grid-area: slogan;
    margin: 0 auto 1rem 2rem;
}

body>header>#user {
    bottom: 0;
    left: 0;
    grid-area: login;
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 1rem auto;
}


/*                  FOOTER                  */

body>footer {
    grid-column: span 3;
    margin-top: 1em;
}

body>footer>p {
    margin-left: 1rem;
}


/*              CONTENT-GENERIC             */

body>.content {
    margin-left: 1em;
    grid-area: content;
}

body>section >p {
    margin-left: 1rem;
}



/*              CONTENT-LIST              */
body>.content>#list>header {
    display: grid;
    grid-template-areas:
        "title  back"
        "date   date"
        "desc   desc";
    margin: 1rem;
}

body>.content> #list >header>.title {
    margin: 0;
    grid-area: title;
}

body>.content> #list >header>.back {
    text-align: right;
    margin-right: 1rem;
    grid-area: back;
    margin: 0;
}

body > .content > #list > header > .datecreation {
    margin: 0.125rem 0;
    grid-area: date;
    font-size: 0.75rem;
}

body > .content > #list > header > .descr {
    margin: 0;
    grid-area: desc;
    text-align: justify;
}

body>.content>article>table {
    margin: 0 1rem 1rem 1rem;
    width: 100%
}

body > .content > #list > table p{
    margin: 0;
}


/*              CONTENT-LISTS             */
body > .content > #lists > header {
    margin: 1rem 1rem;
    display: grid;
    grid-template-areas: "name create";
}

body > .content > #lists > section {
    margin: 1rem;
}


body>.content > #lists > header > #name {
    margin: 0;
    grid-area: name;
}

body>.content> #lists > header>#create {
    margin: 0;
    grid-area: create;
    display: flex;
    justify-content: flex-end;
}

body > .content > #lists > section > article{
    margin:1rem 0;
}

body > .content > #lists > section > article > .title{
    margin: 0;
}

body > .content > #lists > section > article > .descr{
    margin: 0;
}

body > .content > #lists > section > article > .datecreation{
    margin: 0.125rem 0;
    font-size: 0.75rem;

}



/*                  LOGIN                 */

body>.session {
    grid-column: span 2;
    display: grid;
    grid-template-areas: "login" "signin" "signup";
}

body>.session>form {
    padding: 0 1em 1em 1em;
}

body>.session>#login {
    padding: 0 1em 0 1em;
    grid-area: login;
}

body>.session>form>.username {
    grid-area: signin;
}

body>.session>form>.signup {
    grid-area: signup;
}


/*                  SIDEBAR                 */

body>.sidebar {
    padding: 0 1em 0 1em;
    grid-area: sidebar;
    font-size: 0.85em;
}

body>#credits {
    grid-area: content;
    grid-column: span 2;
    display: grid;
    grid-template-areas: "login" "signin" "signup";
}