/*                  TABLET                 */

@media (max-width: 60em) {
    body {
        width: 100%;
        margin: 0;
    }
}


/*                  PHONE                 */

@media (max-width: 30em) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "content" "footer";
        width: 100%;
        margin: 0;
    }
    body>header {
        grid-area: header;
    }
    body>header>h1 {
        margin: 1rem auto 0;
    }
    body>header>h2 {
        display: none;
    }
    body>aside {
        display: none;
    }
    body>.content {
        display: block;
        margin: 0;
    }
    body>.session {
        display: block;
        margin: 0;
    }
}