/*                  TABLET                 */

@media (max-width: 70em) {
    body {
        width: 100%;
        margin: 0;
    }
}


/*              FIXING LISTS              */

@media (max-width: 47em) {
    body>.content>#list>#listitems>.tableheader {
        display: none;
    }
    body>.content>#list>#listitems>.tableitem {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    body>.content>#list>#listitems>.tableitem>.assignee::before {
        content: "Assigned to ";
    }
    body>.content>#list>#listitems>.tableitem>.due::before {
        content: "Due on ";
    }
    body>.content>#list>#listitems>.tableitem>.descr {
        font-weight: bold;
    }
    body>.content>#list>#listitems>.tableitem>input>::first-child::before {
        content: "Solved:";
    }
    body>.content>#list>#listitems>.tableitem>input {
        margin: 0 auto 0 0;
    }
    body>.content>#list>#listitems .newitem {
        display: flex;
        flex-direction: column;
    }
    body>.content>#list>#listitems .newitem::before {
        font-family: 'Barlow Semi Condensed', 'sans-serif';
        font-weight: bold;
        content: "Add a new item:";
    }
}


/*                  PHONE                 */

@media (max-width: 30em) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "search" "content" "footer";
        width: 100%;
        margin: 0;
    }
    body>header {
        grid-area: header;
    }
    body>header>h1 {
        margin: 1rem auto 0;
    }
    body>header>h2 {
        display: none;
    }
    body>aside>#overdue, body>aside>#due {
        display: none;
    }
    body>aside.sidebar {
        grid-area: search;
        margin: 0 0 1rem 0;
    }
    body>aside.sidebar>#search h3 {
        display: none;
    }

    body>.content {
        display: block;
        grid-area: content;
        margin: 0;
    }
    body>.session {
        display: block;
        grid-area: content;
        margin: 0;
    }
    body>.credits {
        display: block;
        grid-area: content;
        margin: 0;
    }

    body>.credits>#credits {
        margin:1rem;
    }

    body>footer {
        grid-area: footer;
    }
}